<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar história</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container">
        <h1>Editar história</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
        <a href="{% url 'historia_list' %}">Voltar para as histórias</a>
    </div>
</body>
</html>